{% extends "sablona.html" %} {% block main %}
<article>
  <header class="header text-center" style="color: black; padding-top: 4%">
    <h1><span>Forum</span></h1>
  </header>
</article>

<section class="section position-center" id="Text" style="padding-left: 5%; padding-right: 5%">
  <table class="table table-hover table-bordered bdr">
    <tr>
      <thead>
      <th scope="row" style="text-align: center; vertical-align: middle;">Příspěvek
        <a type="button" href="/forum/new" style="text-align: center; vertical-align: middle;overflow: hidden;border: none;white-space: nowrap;padding: 0px;position: sticky;left: 99%;" class="btn btn-link"><span style=" font-size:26px;" class="bi bi-plus-square"></span></a>
      </th>
      <th style="text-align: center; vertical-align: middle;">Autor</th>
      <th style="text-align: center; vertical-align: middle;">Hodnocení</th>
      </thead>
    </tr>
    {% for prispevek in data %}
    <tr>
      <td><a style="color: white;" href= forum/{{ prispevek[0] }}>{{ prispevek[1][0:110] }}...</a></td>
      <td>{{ prispevek[2] }}</td>
      <td>{{ prispevek[3] }}</td>
    </tr>
    {% endfor %}
  </table>
</section>
{% endblock %}
