{% extends "template.html" %} {% block main %}
<article>
  <header class="header text-center" style="color: black; padding-top: 4%">
    <h1><span>Forum</span></h1>
  </header>
</article>

<section class="section position-center" id="Text" style="padding-left: 5%; padding-right: 5%">
  <table class="table table-hover table-bordered bdr">
    <tr>
      <thead>
      <th scope="row" style="text-align: center; vertical-align: middle;">Post
        {% if role == "owner" %}
        <a type="button" href="/forum/roles" style="text-align: center; vertical-align: middle;overflow: hidden;border: none;white-space: nowrap;padding: 0px;position: sticky;right: 99%;" class="btn btn-link"><span id="boot-icon" class="bi bi-person-square" style="font-size: 26px; color: rgb(2, 117, 216);"></span></a>
        <a type="button" href="/forum/audits" style="text-align: center; vertical-align: middle;overflow: hidden;border: none;white-space: nowrap;padding: 0px;position: sticky; right: 93%" class="btn btn-link"><span id="boot-icon" class="bi bi-people-fill" style="font-size: 26px; color: rgb(2, 117, 216);"></span></a>
        {% endif %}
        <a type="button" href="/forum/new" style="text-align: center; vertical-align: middle;overflow: hidden;border: none;white-space: nowrap;padding: 0px;position: sticky;left: 99%;" class="btn btn-link"><span style="font-size:26px;" class="bi bi-plus-square"></span></a>
      </th>
      <th style="width: 15%; text-align: center; vertical-align: middle;">Author</th>
      <th style="width: 5%; text-align: center; vertical-align: middle;">Rating</th>
      </thead>
    </tr>
    {% for post in data %}
    <tr>
      <td><a style="color: white;" href= forum/{{ post[0] }}>{{ post[2] }}</a></td>
      <td>{{ post[3] }}</td>
      <td>{{ post[4] }}</td>
    </tr>
    {% endfor %}
  </table>
</section>
{% endblock %}
