{% extends "template.html" %} {% block main %}
<article>
  <header class="header text-center" style="color: black; padding-top: 4%">
    <h1><span>Add post</span></h1>
  </header>
</article>

<form method="post">
<section class="section position-center" id="Text" style="padding-left: 20%; padding-right: 20%">
  <fieldset>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Title of post</span>
      </div>
      <input id="forTitle" type="text" class="form-control" name="title" placeholder="Enter title of post" required style="background-color: #333333; color: white"/>
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Text</span>
      </div>
      <textarea  id="forText" style="height:200px" type="text" class="form-control" name="text" placeholder="Enter text" required style="background-color: #333333; color: white"></textarea>
    </div>
    <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Picture</span>
        </div>
        <input id="forPicture" type="text" class="form-control" name="picture" placeholder="Enter link for picture" style="background-color: #333333; color: white"/>
    </div>
      <div class="float-right">
        <button class="btn btn-dark" type="submit" name="btn" value="addPost" style="justify-content: left; margin-top: 3px;">
          Add post
        </button>
      </div>
    </form>
    </div>
  </fieldset>
</section>
{% endblock %}
