{% extends "sablona.html" %} {% block main %}
<article>
  <header class="header text-center" style="color: black; padding-top: 4%">
    <h1><span>Přidat příspěvek</span></h1>
  </header>
</article>

<form method="post">
<section class="section position-center" id="Text" style="padding-left: 20%; padding-right: 20%">
  <fieldset>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Název příspěvku</span>
      </div>
      <input id="forNazev" type="text" class="form-control" name="nazev" placeholder="Zadej název příspěvku" required style="background-color: #333333; color: white"/>
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Text</span>
      </div>
      <textarea  id="forText" style="height:200px" type="text" class="form-control" name="text" placeholder="Zadejte text" required style="background-color: #333333; color: white"></textarea>
    </div>
    <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Obrázek</span>
        </div>
        <input id="forObrazek" type="text" class="form-control" name="obrazek" placeholder="Zadejte odkaz na obrázek" style="background-color: #333333; color: white"/>
    </div>
      <div class="float-right">
        <button class="btn btn-dark" type="submit" name="btn" value="addPrispevek" style="justify-content: left; margin-top: 3px;">
          Přidat příspěvek
        </button>
      </div>
    </form>
    </div>
  </fieldset>
</section>
{% endblock %}
