{% extends "sablona.html" %} {% block main %}
<article>
  <header class="header text-center" style="color: black; padding-top: 4%">
    <h1><span>Příspěvek</span></h1>
  </header>
</article>

<form method="post">
<section class="section position-center" id="Text" style="padding-left: 5%; padding-right: 5%">
  <table class="table table-hover table-bordered bdr">
    <tr>
      <thead>
      <th>{{ prispevek[2] }}</th>
      <th style="width: 20%">Autor: {{ prispevek[3] }}</th>
      <th data-html="true" style="width: 18%;text-align: center; vertical-align: middle;" title="{{ hodnoceni }}"><select class="form-select" name="hodnoceniselect" aria-label="Vyberte uživatele" style="margin-right: 1%; margin-left:1%;text-align: center; vertical-align: middle;">
        {% for i in range(1,6) %}
        {% if userHodnoceni|string == i|string %}
        <option selected value="{{ i }}">{{ i }}</option>
        {% else %}
        <option value="{{ i }}">{{ i }}</option>
        {% endif %}
        {% endfor %}
    </select><button style="margin-left: 2%; margin-right: 2%;" type="submit" name="btn" value="ohodnotit" class="btn btn-primary btn-sm">Ohodnotit</button>Hodnocení: 
    {% if hodnoceniavg == null %}
    {{ (prispevek[4]|string)[0:3] }}
    {% else %}
    {{ hodnoceniavg }}
    {% endif %}
    </th>
      </thead>
    </tr>
    <tr>
      {% if obrazky[0] == "NULL" %}
      <td colspan="3">{{ prispevek[1] }}</td>
      {% else %}
      <td colspan="2">{{ prispevek[1] }}</td>
      {% for obrazek in obrazky %}
      <td ><img src="{{ obrazek }}" width="256"></td>
      {% endfor %}
      {% endif %}
    </tr>
  </table>
  </br>
  {% if komentare %}
  <table class="table table-hover table-bordered bdr">
    <tr>
      <thead>
      <th>Komentáře</th>
      <th>Autor</th>
      </thead>
    </tr>
    {% for komentar in komentare %}
    <tr>
      <td>{{ komentar[1] }}</td>
      <td style="width: 20%">{{ komentar[2] }}</td>
    </tr>
    {% for odpoved in odpovedi %}
        {% if odpoved[0] == komentar[0] %}
        <tr>
            <td colspan="2">{{ odpoved[1] }} (Autor: {{ odpoved[2] }})</td>
        </tr>    
        {% endif %}
    {% endfor %}
    <tr>
      <td colspan="2" style="text-align: center; vertical-align: middle;">
          <div class ="row" style="justify-content: center; vertical-align: middle; text-align: center;">
            <input  id="forOdpo" style="margin-left: 10px; margin-top: 10px; width: 85%;" type="text" class="form-control" name="newodpoved{{ komentar[0] }}" placeholder="Odpovědět" style="background-color: #333333; color: white"></input>
            <button class="btn btn-primary" type="submit" name="btn" value="addOdpoved{{ komentar[0] }}" style="margin-top: 10px; margin-left: 10px;">
            Přidat odpověď
            </button>
          </div>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  <table class="table table-hover table-bordered bdr">
    <tr>
      <thead>
      <th>Přidat komentář</th>
      </thead>
    </tr>
    <tr>
      <td><textarea  id="forKom" style="height:100px" type="text" class="form-control" name="newkomentar" placeholder="Zadejte text" style="background-color: #333333; color: white"></textarea>
        <div class="float-right">
          <button class="btn btn-primary" type="submit" name="btn" value="addKomentar" style="justify-content: left; margin-top: 10px;">
            Přidat komentář
          </button>
        </div>
      </td>
    </tr>
  </table>
</section>
</form>
{% endblock %}
