{% extends "template.html" %} {% block main %}
<article>
  <header class="header text-center" style="color: black; padding-top: 5%">
    <div class="waviy">
      <span style="--i:1">F</span>
      <span style="--i:2">o</span>
      <span style="--i:3">r</span>
      <span style="--i:4">u</span>
      <span style="--i:5">m</span>
     </div>
  </header>
  <section class="section position-center" id="Text" style="padding-left: 15%; padding-right: 15%; padding-top: 15%">
    <form action="" method="post">
      <fieldset>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Username</span>
          </div>
          <input id="forUsername" type="text" class="form-control" name="username" placeholder="Enter username" required style="background-color: #333333; color: white"/>
        </div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Password</span>
          </div>
          <input id="forPassword" type="password" class="form-control" name="password" placeholder="Enter password" required style="background-color: #333333; color: white"/>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">E-mail</span>
            </div>
            <input id="forEmail" type="email" class="form-control" name="email" placeholder="Enter e-mail" required style="background-color: #333333; color: white"/>
        </div>
        <div class="float-right">
            <a href="/">
                <button type="button" name="btn" value="login" style="justify-content: left; margin-top: 3px;" class="btn btn-outline-dark">
                  Login
                </button>
            </a>
          <button class="btn btn-dark" type="submit" name="btn" value="register" style="justify-content: left; margin-top: 3px;">
            Sign up
          </button>
        </div>
      </fieldset>
    </form>
  </section>
</article>

<footer>
  <hr class="featurette-divider" style="background-color: white">
  <div class="form-row">
    <div class="col text-right"><small><script src="{{url_for('static', filename='svatky.js')}}"></script></small></div>
  </div>
</footer>
{% endblock %}
