{% extends "sablona.html" %} {% block main %}
<article>
  <header class="header text-center" style="color: black; padding-top: 4%">
    <h1><span>Change roles</span></h1>
  </header>
</article>

<form method="post">
<section class="section position-center" id="Text" style="padding-left: 10%; padding-right: 10%">
  <table class="table table-hover table-bordered bdr">
    <tr>
      <thead>
        <th>User</th>
        <th style="width: 30%">Role</th>
      </thead>
    </tr>
    <tr>
      <td>Selected user: 
        <select class="form-select" name="userSelect" aria-label="Select user" style="margin-right: 1%; margin-left:1%;text-align: center; vertical-align: middle;">
          {% for user in users %}
          <option value="{{ user[0] }}">{{ user[0] }}</option>
          {% endfor %}
        </select>
      </td>
      <td>Selected role: 
        <select class="form-select" name="roleSelect" aria-label="Select role" style="margin-right: 1%; margin-left:1%;text-align: center; vertical-align: middle;">
          <option value="{{ 1 }}">user</option>
          <option value="{{ 2 }}">moderator</option>
          <option value="{{ 3 }}">admin</option>
        </select>
      </td>
    </tr>
  </table>
  <div class="float-right">
    <button class="btn btn-dark" type="submit" name="btn" value="changerole" style="justify-content: left; margin-top: 3px;">
      Change role
    </button>
  </div>
  <table style="margin-top: 78px;" class="table table-hover table-bordered bdr">
    <tr>
      <thead>
        <th>User</th>
        <th style="width: 40%">Role</th>
      </thead>
    </tr>
    {% for user in users %}
    <tr>
      <td>
        {{ user[0] }}
      </td>
      <td>
        {{ user[1] }}
      </td>
    </tr>
    {% endfor %}
  </table>
</form>
</section>
{% endblock %}
