{% extends "template.html" %} {% block main %}
<article>
  <header class="header text-center" style="color: black; padding-top: 4%">
    <h1><span>SQL - commands</span></h1>
  </header>
</article>
<form method="post">
<section class="section position-center" id="Text" style="padding-left: 5%; padding-right: 5%; padding-top: 1%;">
    <div style="align-items: flex-start; display:flex; justify-content: center; vertical-align: middle;align-items: center;">
        <span class="badge badge-secondary" style="font-size:15px; margin-right: 15%;">Using commands as: {{ engineUser }}</span>
        <h4 style="margin-right: 1%;">Change user:</h4>
        <select class="form-select" name="userselect" aria-label="Select user" style="margin-right: 1%;">
            {% for user in engineUsers %}
            {% if user == engineUser %}
            <option selected value="{{ user }}">{{ user }}</option>
            {% else %}
            <option value="{{ user }}">{{ user }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <input style="margin-right: 5%; width: 15%" type="text" class="form-control" name="changeuserpass" placeholder="Enter password" style="background-color: #333333; color: white"/>
        <button type="submit" name="btn" value="changeuser" class="btn btn-primary">Change user</button>
    </div>
</section>
<section class="section position-center" id="Text" style="padding-left: 5%; padding-right: 5%; margin-top:1%;">
  <table class="table table-hover table-bordered bdr">
    <thead>
        <th colspan="2">Users</th>
    </thead>
    {% for user in users %}
    <tr>
        <td colspan="2">
            {{ user }}
        </td>
    </tr>
    {% endfor %}
    </table>
    <table class="table table-hover table-bordered bdr">
    <tr>
        <td>
            Create user:
            <input style="margin-top: 1%;" type="text" class="form-control" name="createuserinputname" placeholder="Zadejte jméno" style="background-color: #333333; color: white"/>
            <input style="margin-top: 1%;" type="text" class="form-control" name="createuserinputpass" placeholder="Zadejte heslo" style="background-color: #333333; color: white"/>
        </td>
        <td style="vertical-align: middle; width: 5%;">
            <button type="submit" name="btn" value="createuser" class="btn btn-primary">Create</button>
        </td>
    </tr>
        <td>
            Delete user:
            <input style="margin-top: 1%;"type="text" class="form-control" name="deleteuserinputname" placeholder="Zadejte jméno" style="background-color: #333333; color: white"/>
        </td>
        <td style="vertical-align: middle;">
            <button  type="submit" name="btn" value="deleteuser" class="btn btn-primary">Delete</button>
        </td>
  </table>

  <table class="table table-hover table-bordered bdr">
    <thead>
        <th colspan="2">Roles</th>
    </thead>
    {% for role in roles %}
    <tr>
        <td colspan="2">
            {{ role }}
        </td>
    </tr>
    {% endfor %}
    </table>
    <table class="table table-hover table-bordered bdr">
    <tr>
        <td>
            Create role:
            <input style="margin-top: 1%;" type="text" class="form-control" name="createroleinput" placeholder="Zadejte jméno" style="background-color: #333333; color: white"/>
        </td>
        <td style="vertical-align: middle; width: 5%;">
            <button type="submit" name="btn" value="createrole" class="btn btn-primary">Create</button>
        </td>
    </tr>
        <td>
            Delete role:
            <input style="margin-top: 1%;"type="text" class="form-control" name="deleteroleinput" placeholder="Zadejte jméno" style="background-color: #333333; color: white"/>
        </td>
        <td style="vertical-align: middle;">
            <button  type="submit" name="btn" value="deleterole" class="btn btn-primary">Delete</button>
        </td>
  </table>
  <table class="table table-hover table-bordered bdr">
        <td>
            Assign role for user:
            <input style="margin-top: 1%;"type="text" class="form-control" name="grantroleuser" placeholder="Zadejte uživatele" style="background-color: #333333; color: white"/>
            <input style="margin-top: 1%;"type="text" class="form-control" name="grantrolerole" placeholder="Zadejte roli" style="background-color: #333333; color: white"/>
        </td>
        <td style="vertical-align: middle; width: 5%;">
            <button  type="submit" name="btn" value="grantrole" class="btn btn-primary">Assign</button>
        </td>
  </table>
  <table class="table table-hover table-bordered bdr">
    <thead>
        <th>User roles {{ roleuser }}</th>
        <th>Choose user: <select class="form-select" name="roleselect" aria-label="Vyberte uživatele" style="margin-right: 1%; margin-left:1%">
            {% for user in users %}
            {% if user == roleuser %}
            <option selected value="{{ user }}">{{ user }}</option>
            {% else %}
            <option value="{{ user }}">{{ user }}</option>
            {% endif %}
            {% endfor %}
        </select><button style="margin-left: 20%;" type="submit" name="btn" value="changerole" class="btn btn-primary btn-sm">Choose</button></th>
    </thead>
    {% for role in rolesofuser %}
    <tr>
        <td colspan="2">
            {{ role }}
        </td>
    </tr>
    {% endfor %}
    </table>
    <table class="table table-hover table-bordered bdr">
        <tr>
            <td>
                Grant permission: (SELECT, INSERT, UPDATE, DELETE...)
                <input style="margin-top: 1%;" type="text" class="form-control" name="grantuser" placeholder="Enter username" style="background-color: #333333; color: white"/>
                <input style="margin-top: 1%;" type="text" class="form-control" name="grantmethod" placeholder="Enter method" style="background-color: #333333; color: white"/>
            </td>
            <td style="vertical-align: middle; width: 5%;">
                <button type="submit" name="btn" value="grantbutton" class="btn btn-primary">Grant</button>
            </td>
        </tr>
            <td>
                Revoke permission: (SELECT, INSERT, UPDATE, DELETE...)
                <input style="margin-top: 1%;"type="text" class="form-control" name="revokeuser" placeholder="Enter username" style="background-color: #333333; color: white"/>
                <input style="margin-top: 1%;"type="text" class="form-control" name="revokemethod" placeholder="Enter method" style="background-color: #333333; color: white"/>
            </td>
            <td style="vertical-align: middle;">
                <button  type="submit" name="btn" value="revokebutton" class="btn btn-primary">Revoke</button>
            </td>
      </table>
      <table class="table table-hover table-bordered bdr">
        <thead>
            <th>Permission of user/role {{ privuser }}</th>
            <th>Choose user/roli: <select class="form-select" name="privuserselect" aria-label="Choose user/roli" style="margin-right: 1%; margin-left:1%">
                {% set usersroles = users %}
                {% for role in roles %}
                {% if role not in usersroles %}
                {{ usersroles.append(role) }}
                {% endif %}
                {% endfor %}
                {% for user in usersroles %}
                {% if user == privuser %}
                <option selected value="{{ user }}">{{ user }}</option>
                {% else %}
                <option value="{{ user }}">{{ user }}</option>
                {% endif %}
                {% endfor %}
            </select><button style="margin-left: 20%;" type="submit" name="btn" value="changeprivuser" class="btn btn-primary btn-sm">Choose</button></th>
        </thead>
        {% if privofuser == [] %}
        <tr>
            <td colspan="2">
                User/role doesn't have any permissions or you don't have enough permission!
            </td>
        </tr>
        {% else %}
        {% for priv in privofuser %}
        <tr>
            <td colspan="2">
                {{ priv }}
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </table>
        <table class="table table-hover table-bordered bdr">
            <thead>
                <th>SELECT table "{{ selectedtable }}" (LOCK)</th>
                <th>Select table: <select class="form-select" name="tableselect" aria-label="Select table" style="margin-right: 1%; margin-left:1%">
                    {% for table in tables %}
                    {% if table == selectedtable %}
                    <option selected value="{{ table }}">{{ table }}</option>
                    {% else %}
                    <option value="{{ table }}">{{ table }}</option>
                    {% endif %}
                    {% endfor %}
                </select><button style="margin-left: 20%;" type="submit" name="btn" value="changetable" class="btn btn-primary btn-sm">Change</button></th>
            </thead>
                <td colspan="2">
                    {{ tabledata }}
                </td>
            </table>
</section>
</form>
{% endblock %}
